.social-links {
    display: flex; /* Use flexbox for layout */
    justify-content: center;
    justify-items: center; /* Center align items horizontally */
    gap: 10px; /* Gap between each icon */
    position : fixed bottom;
    font-family: serif;
    padding: 20px;
    color: aliceblue; 
}
.main{
    justify-content: center;
   
    display: flex;
}
.social-links a {
    display: inline; /* Ensure anchor tags behave like blocks */
}

.social-links img {
    border-radius: 20px;
    width: 20px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
}
