/* styles.css */

.navbar {
  justify-content: space-between;
  font-family: serif;
  background-color: rgb(8, 7, 21);
  
}


.navbar-brand {
  margin-right: auto;
  font-size: x-large;
 
}

.navbar-nav {
  flex: 1;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
  font-size: large;
}


.sign-in-link {
  margin-left: auto;
}

.sign-in-button {
  background-color: #007bff; /* Customize button color */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  
}

.sign-in-button:hover {
  background-color: #b30000; /* Customize button hover color */
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: red !important; /* Change color to red on hover */
}