body{
    background-color: rgb(3, 22, 52);
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed during scrolling */
    background-position: center; /* Center the background image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure the body takes full height */
}
