/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* Container */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #17073e;
}
/* Title */
.container h1 {
  text-align: center;
  color: #4caf50;
  margin-bottom: 20px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

/* Image Upload */
.image-upload {
  margin-bottom: 20px;
}

.image-upload input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.image-upload img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #4caf50;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #070426;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  resize: vertical;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
}

.buttons button[type="button"] {
  background-color: #f44336;
}

.buttons button:hover {
  opacity: 0.9;
}

/* Responsive Design */
@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  .buttons button {
    margin-bottom: 10px;
    width: 100%;
  }

  .buttons button[type="submit"] {
    margin-bottom: 0;
  }
}

